/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background-color: #f0f0f0 !important;
}

.primary-bg{
    background: #0F172A !important;
}

.primary-text{
    color: #0F172A !important;
}